@model List<Category>
@{
    ViewData["Title"] = "Index";
}

<partial name="_NotificationAlert"/>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary"> 
               <i class="bi bi-plus-square"></i> &nbsp; Create New Category</a>
        </div>
    </div>
    <br><br>


    <table class="table table-striped text-light" style="width:100%">
        <thead>
            <tr>
                <th>
                    Category Name
                </th>
                <th>
                    DisplayOrder
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(Category c in Model){
                <tr>
                    <td style="width:40%">
                        @c.Name
                    </td>
                    <td style="width:40%">
                        @c.DisplayOrder
                    </td>
                    <td style="width:20%">
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary" asp-controller="Category" asp-action="Edit" asp-route-id="@c.Id"> <i class="bi bi-pencil-square"></i> Edit </a>
                        </div>
                        &nbsp;&nbsp;&nbsp;
                        <div class="btn-group" role="group">
                            <a class="btn btn-danger" asp-controller="Category" asp-action="Delete" asp-route-id="@c.Id"> <i class="bi bi-trash3-fill"></i> Delete </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

